body{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    background-color: #D5B0AC;
    color: #402E2A;
    font-weight: bold;
    /* margin: auto; */
    text-align: center;
}

nav.menu.sub-menu {
    display: none;
    position: relative;
}

.menu span {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    /* margin: auto; */
}
.menu span:hover{
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;

}
.menu span .menu.sub-menu span .menu.sub-menu{
    display: none;  
}
.menu span .menu.sub-menu span .menu.sub-menu span .menu.sub-menu{
    display: none;
}
.menu span .menu.sub-menu span .menu.sub-menu span .menu.sub-menu:hover .menu.sub-menu{
    position: absolute;
    display: inline-block;
    float: right;
}
.menu span .menu.sub-menu span:hover .menu.sub-menu{
    position: absolute;
    display: inline-block;
    float: right;  
}
.menu span:hover .sub-menu{
    display:inline-block;
    float:left;
}
